<app-new-networker
  (onNew)="addNetworker($event)">
</app-new-networker>
<table>
  <thead>
    <tr>
      <th>
        FirsName
      </th>
      <th>
        LastName
      </th>
      <th>
        Email
      </th>
      <th>
        Want
      </th>
      <th>
        Offer
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let networker of networkers; trackBy: trackByNetworker">
      <td>{{networker.firstName}}</td>
      <td>{{networker.lastName}}</td>
      <td>{{networker.email}}</td>
      <td>{{networker.want}}</td>
      <td>{{networker.offer}}</td>
    </tr>
  </tbody>
</table>
