<div [@active]="movement ? movement : null"
    class="slides"
    (@active.done)="animationDone($event)">
  <ng-container *ngFor="let slide of slides; let i = index; trackBy: trackSlide">
    <div class="sliding"
         *ngIf="i === currentSlide">
      <app-slide
        [slide]="slide"
        [index]="i+1"
      ></app-slide>
    </div>
  </ng-container>
</div>
<div [@slideFromLeft]
    class="prev"
    *ngIf="currentSlide !== 0">
  <button class="btn" (click)="onPrev()">Prev</button>
</div>
<div [@slideFromRight]
    class="next"
    *ngIf="slides && (slides.length - 1) !== currentSlide">
  <button class="btn" (click)="onNext()">Next</button>
</div>
<ng-container *ngFor="let slide of slides; trackBy: trackSlide">
  <img *ngIf="slide.img" class="preload" [src]="'assets/' + slide.img" alt="{{slide.name}}">
</ng-container>
